body {
	padding: 0px;
	background: #202020;
	color: white;
}

nav {
  text-align: left;
  font-weight: normal;
}

nav a {
  font-weight: bold;
}

img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.icon {
  margin: 10px 5px;
  display: inline;
}

header {
  text-align: center;
}

p, h1, h2, h3, h4, h5, h6, code, li, strong {
	color: white;
}

h1 {
	text-align: center;
}

pre, .highlight {
  background: black;
}